# Semaphore Database Configuration
SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASS=SicheresPasswort
SEMAPHORE_DB_NAME=semaphore

# Semaphore Admin User Configuration
SEMAPHORE_ADMIN_USER=admin
SEMAPHORE_ADMIN_PASS=AdminPasswort
SEMAPHORE_ADMIN_NAME=Admin
SEMAPHORE_ADMIN_EMAIL=admin@example.com
