# Vaultwarden auf Port 8080 (HTTPS via Caddy)
nas-01.taildfad90.ts.net:8080 {
    tls {
        get_certificate tailscale
    }
    reverse_proxy localhost:8000
}

# Immich auf Port 2283 (HTTPS via Caddy)
nas-01.taildfad90.ts.net:2283 {
    tls {
        get_certificate tailscale
    }
    reverse_proxy localhost:2285
}

# Semaphore (Ansible UI)
nas-01.taildfad90.ts.net:3000 {
    tls {
        get_certificate tailscale
    }
    reverse_proxy localhost:13000
}

# Grafana (Monitoring Dashboards)
nas-01.taildfad90.ts.net:3001 {
    tls {
        get_certificate tailscale
    }
    reverse_proxy localhost:13001
}

# Prometheus (Metrics)
nas-01.taildfad90.ts.net:9090 {
    tls {
        get_certificate tailscale
    }
    reverse_proxy localhost:19090
}
