# Immich Environment Variables (SRE Template)
UPLOAD_LOCATION=/lib/immich
DB_DATA_LOCATION=/opt/containerd/immich/db
IMMICH_MACHINE_LEARNING_URL=http://192.168.178.22:3003
IMMICH_VERSION=v2
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
IMMICH_EXTERNAL_DOMAIN=https://nas-01.taildfad90.ts.net:2283

# Secrets (To be injected via Vaultwarden or kept in local .env)
# DB_PASSWORD=
