[Unit]
Description=Force HDD Spindown after Inactivity

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
